<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    
        <style>
        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 8px;
            
        }
    </style>
</head>
<body>
    <a href="{{ url_for('index') }}">Voltar</a>
    <h1>qr code scanner</h1>
    <hr>

    <div id="reader"></div>
    <p id="resultado"></p>

    <h2>---------------------------------</h2>

    <table>
        <caption>ESTOQUE</caption>
        <tr>
            <th>ITEM</th>
            <th>REF</th>
            <th>QNTD</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <th>{{ produto[0] }}</th>
            <th>{{ produto[1] }}</th>
            <th>{{ produto[2] }}</th>
        </tr>
        
        {% endfor %} 

    </table>

    


    <script src="https://unpkg.com/html5-qrcode"></script>
    <script src="{{ url_for('static', filename='js/scanner.js') }}"></script>
</body>
</html>