<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    <style>
            <style>
        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 8px;
            
        }
    </style>
    
    
</head>
<body>
    <h1>qr code scanner</h1>
    <hr>

    <div id="reader"></div>
    <p id="resultado"></p>

    <h2>---------------------------------</h2>

    <a href="{{ url_for('index') }}">Voltar</a>


    <script src="https://unpkg.com/html5-qrcode"></script>
    <script src="{{ url_for('static', filename='js/scanner.js') }}"></script>
</body>
</html>